
BODY {
   font-family: Arial, Herlvetica, sans-serif
}

H2 {
   font-variant: small-caps;
}

A:link {
   color: green;
   text-decoration: none;
}

A:visited {
   color: blue;
   text-decoration: none;
}

UL {
   margin-top: 0;
}

DL {
   margin-top: 1ex;
}

DD > P, DD > PRE {
	margin-top: 0;
}

TD > P, TH > P, TD > A {
	margin: 2px 3px;
}

